<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/resources/css/mainIndex.css">
    <link href="/resources/css/font-awesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link href="/resources/css/font-awesome/css/brands.css" rel="stylesheet">
    <link href="/resources/css/font-awesome/css/solid.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Kanit|Pacifico|Poppins:400,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>LucaTinder</title>
</head>
<body>
    <div class="fondo"></div>
    
    
    <div class="wrapper d-flex">
                       <nav class="sideNav">
                    <ul class="list-unstyled components menuHorizontal mb-5">
                    <div class="iconoMenu">
                        <li class="active">
                            <a th:href="@{/logOut}"  class="enlacePrimario"><span class="fa fa-home"></span><br/> Home</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                        <li class="active">
                            <a th:href="@{/perfil/list}"  class="enlacePrimario"><span class="fas fa-search"></span><br/>Perfiles</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                        <li>
                            <a th:href="@{/perfil/listaContactos(idPerfil=${current_perfil.idPerfil})}" class="enlacePrimario"><span class="far fa-thumbs-up"></span><br/> Contactos</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                        <li>
                            <a th:href="@{/perfil/listaDescartes(idPerfil=${current_perfil.idPerfil})}"  class="enlacePrimario"><span class="fas fa-thumbs-down"></span><br/>Descartes</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                            <li>
                                <a th:href="@{/perfil/listaMatch(idPerfil=${current_perfil.idPerfil})}"  class="enlacePrimario"><span class="fas fa-heart"></span><br/>Macht</a>
                            </li>
                        </div>
                    <div class="iconoMenu">
                        <li>
                            <a  th:href="@{/perfil/edit(idPerfil=${current_perfil.idPerfil})}"  class="enlacePrimario"><span class="fas fa-user-edit"></span><br/> Mis Datos</a>
                        </li>
                    </div>
                    </ul>
            </nav>
                    <div class="container" id="bloqueContentPerfil">
            <div class="col-8 mt-4">
                <header class="header p-0">
                    <img class="logo" src="/resources/images/logo.png">
                </header>
            </div> 
            <div class="col-12">
                <h1 class="title text-center">Mis Descartes</h1>
            </div>
            <div class="row mt-4">
                <div th:each="perfil : ${descartes}" class=" col-sm-12 col-lg-6 mb-2">
                    <div class="cardPerfil col-12">
                        <div class="col-3 p-0"><img th:src="${perfil.foto}" class="imgCard" alt="..."></div>
                        <div class="col-9 p-0">
                            <div class="p-2">
                                <div class="col-12 d-flex">
                                <div class="col-6"><h5 class="card-title" th:text="${perfil.nombre}"></h5></div>
                                <div class="col-6" th:text="${perfil.edad}"> </div>
                                </div>
                                <div class="col-12">
                                    <p class="card-text" th:text="${perfil.descripcionCorta}"></p>
                                </div>  
                            </div>
                            <div class="col-12 botonera">
                            	<div class="col-6 botonetaDisLike"><a href="" class="enlaceSecundario"><span class="fas fa-trash"></span><br/>Remove</a></div>
                                <div class="col-6 botonetaLike"><a th:href="@{/perfil/detalles(id_perfil=${perfil.idPerfil})}" class="enlacePrimario"><span class="far fa-eye"></span><br/> Ver Detalles</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--  
        <div class="container" id="bloqueContentPerfil">
            <div class="col-8 mt-4">
                <header class="header p-0">
                    <img class="logo" src="/resources/images/logo.png">
                </header>
            </div> 
            <div class="col-12">
                <h1 class="title text-center">Contactos</h1>
            </div>
            <div class="row mt-4">
              <div class="row mt-4">
                <div th:each="perfil : ${contactos}" class=" col-sm-12 col-lg-6 mb-2">
                    <div class="cardPerfil col-12">
                        <div class="col-3 p-0"><img th:src="${perfil.foto}" class="imgCard" alt="..."></div>
                        <div class="col-9 p-0">
                            <div class="p-2">
                                <div class="col-12 d-flex">
                                <div class="col-6"><h5 class="card-title" th:text="${perfil.nombre}"></h5></div>
                                <div class="col-6" th:text="${perfil.edad}"> </div>
                                </div>
                                <div class="col-12">
                                    <p class="card-text" th:text="${perfil.descripcionCorta}"></p>
                                </div>  
                            </div>
                            <div class="col-12 botonera">
                                <div class="col-12 botonetaLike"><a th:href="@{/perfil/detalle(id_perfil=${perfil.idPerfil})}" class="enlacePrimario"><span class="far fa-thumbs-up"></span><br/> Detalles</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>-->
    </div>
                
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
</body>
</html>