<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="mainIndex.css">
    <link href="../css/font-awesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link href="../css/font-awesome/css/brands.css" rel="stylesheet">
    <link href="../css/font-awesome/css/solid.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Kanit|Pacifico|Poppins:400,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>LucaTinder</title>
</head>
<body>
    <div class="fondo"></div>
    
    
    <div class="wrapper d-flex">
            <nav class="sideNav">
                    <ul class="list-unstyled components menuHorizontal mb-5">
                    <div class="iconoMenu">
                        <li class="active">
                            <a href="#"  class="enlacePrimario"><span class="fa fa-home"></span><br/> Home</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                        <li class="active">
                            <a href="#"  class="enlacePrimario"><span class="fas fa-search"></span><br/>Perfiles</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                        <li>
                            <a href="#" class="enlacePrimario"><span class="far fa-thumbs-up"></span><br/> Contactos</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                        <li>
                            <a href="#"  class="enlacePrimario"><span class="fas fa-thumbs-down"></span><br/>Descartes</a>
                        </li>
                    </div>
                    <div class="iconoMenu">
                            <li>
                                <a href="#"  class="enlacePrimario"><span class="fas fa-heart"></span><br/>Macht</a>
                            </li>
                        </div>
                    <div class="iconoMenu">
                        <li>
                            <a href="#" class="enlacePrimario"><span class="fas fa-user-edit"></span><br/> Mis Datos</a>
                        </li>
                    </div>
                    </ul>
            </nav>
        <div class="container" id="bloqueContentPerfil">
            <div class="col-8 mt-4">
                <header class="header p-0">
                    <img class="logo" src="images/logo.png">
                </header>
            </div> 
            <div class="col-12">
                <h1 class="title text-center">Editar mi Perfil</h1>
            </div>
            <div class="row mt-4">
                <form  method="post" th:action="@{/perfil/edit}" th:object="${perfil}" id="editPerfil" name="editPerfil" >
                    <div class="col-6">
                        <input type="text" name="nombre" id="nombre" placeholder="User Name"/>
                        <input type="text" name="edad" id="edad" placeholder="Edad"/>
                        <textarea name="descripcion" id="descripcion" placeholder="Descripcion Corta Max 200 carracteres"></textarea>
                        <textarea name="descripcion" id="descripcion" rows="10" placeholder="Descripcion Larga Max 500 carracteres"></textarea>
                        <input type="text" name="poblacion" id="poblacion" placeholder="Poblacion"/>
                        <input type="file" name="foto" id="foto"/>

                    </div>
                    <div class="col-6">
                    <select>
					    <option th:each="materia : ${allMaterias}" th:value="${materia.idMateria}" th:text="${materia.descripcion}">
					    </option>
					</select>
					
                     <!--  <ul>
                            <li th:each="singleMateria: ${allMaterias}">
                                <input type="checkbox" 
                                    th:field="${singleMateria:.descripcion}"
                                    th:value="${singleMateria:.idMateria}" />
                                <label th:text="${singleMateria:.descripcion}"></label>
                            </li>
                        </ul>  --> 
                        *Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quos dignissimos ducimus voluptatum nulla ad corporis quae beatae et, voluptas eius iure fuga dolores id aperiam pariatur excepturi eos cumque! Perferendis dignissimos quod quia praesentium excepturi deserunt iste. Similique dolore tempore iure harum totam voluptate nostrum aliquam distinctio, consectetur officiis quis, asperiores voluptatem deleniti officia sequi dolorum soluta ut nam est nihil enim, praesentium ab? Neque quo vitae ipsa quasi quod eum debitis ipsum dolor? Ullam, at ratione quos minima deleniti expedita iusto doloribus maxime aliquam! Aperiam omnis sit labore ullam accusamus minus tenetur, cum libero est dolor expedita cumque.
                    </div>
                </form>
            </div>
        </div>
    </div>
                
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
</body>
</html>