<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" 	href="/resources/css/mainIndex.css" />
    <link href="https://fonts.googleapis.com/css?family=Kanit|Pacifico|Poppins:400,700i&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>LucaTinder</title>
</head>
<body>
    <div class="container-fluid" id="content">
       <div class="row h-100 fullHeigthRow">
           <div class="col-8">
                <header class="header">
                    <img class="logo" src="/resources/images/logo.png">
                </header>
           </div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 aboutApp">
                <h1 class="title mb-4">About this APP</h1>
                <p>Maximiza tus posibilidades de encontrar a alguien, que comparta tus inquietudes.
                Si te gusta la informatica y te gustaria encontrar tu pareja ideal, LucaTinder es tu aplicacion perfecta.</p>
                <p>Creemos en el amor Friki  ¿Y TÚ?</p>
            </div>
            <div class="col-8 getInFormFirstGruop">
                <div class="col-12 col-md-6 col-lg-4">
                <form method="post" action ="#" id="loginForm" name="loginForm">
                        <div class="form-group col-12">
                            <input class="inputCustom form" placeholder="User Name" type="text" id="user" name="user"/>
                            <input class="inputCustom" placeholder="Password" type="password"  id="password" name="password"/>
                        </div>
                        <div class="form-group col-12">
                            <input type="submit" class="btn btn-custom col-8" value="Get In" id="getIn" name="getIn"/>
                        </div>
                        <div class="col-12"><small class="nuevoRegistro"><a th:href="@{/addPerfilForm}">Nuevo registro</a></small></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>